# Python
__pycache__/
*.pyc
*.pyo
*.spec
dist/
build/
*.egg-info/

# Go
*.exe
*.exe~
*.test
*.out
vendor/

# Windows
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Config local
config.json
